{volist name="data" id="vo"}
<tr class="ajax_tr">
    <!--属性名-->
    <td class="label">
        <!--如果 属性是单选的 则可添加多个 -->
        {eq name="$vo.attr_type" value="2"}
            <a id="clone" href="javascript:;" onclick="cloneThis(this)">[+]</a>
        {/eq}
        {$vo.attr_name}:
    </td>
    <td>
        <!--属性的id-->
        <input type="hidden" name="attr_ids[]" value="{$vo.id}">
        {eq name="$vo.attr_input_type" value="1"}
            <!--唯一属性-->
            <input type="text" name="attr_values[]" id="attr_value">
        {else/}
            <!--单选属性-->
            <select name="attr_values[]" id="attr_values">
                {foreach $vo.attr_values as $k=>$v}
                <option value="{$v}">{$v}</option>
                {/foreach}
            </select>
        {/eq}
    </td>
</tr>
{/volist}